
*.o
*.bin
*.elf
*.list
*.map
*.su
Debug/Gesture PAJ7620U2.elf
Debug/Gesture PAJ7620U2.bin
Debug/Gesture PAJ7620U2.list
Debug/Gesture PAJ7620U2.map
Debug/MyLib/Src/GESTURE.o
Debug/MyLib/Src/GESTURE.o
